.intern_container{
    background-color: rgb(15, 22, 36);
    padding:0px 0px 0px 4rem;

}
.intern_head>span{
    font-size: 3rem;
    color: rgb(242, 245, 247);
    display: flex;
    align-items: flex-start;
}
.intern_img>img{
    width:280px;
    height:180px
}
.intern_details>span{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
}
.intern_wrap{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1.5rem;
}